<!--
  Copyright (c) 2015, <your name>. All rights reserved. Use of this source code
  is governed by a BSD-style license that can be found in the LICENSE file.
-->

<!-- import polymer-element's definition -->
<link rel="import" href="../../packages/polymer/polymer.html">

<!-- import custom elements -->
<link rel="import" href="elements/content-element.html">

<link rel="import" href="../../packages/core_elements/core_toolbar.html">

<polymer-element name="main-app">
  <template>
   <style>
    core-toolbar{
      background-color:#009688;
    }
   </style>

    <core-toolbar class="tall">
    
    </core-toolbar>
    <content-element></content-element>
  </template>
  <script type="application/dart" src="main_app.dart"></script>
</polymer-element>
