/* Copyright (c) 2015, <Kurt Appolis>. All rights reserved. Use of this source code */
/* is governed by a BSD-style license that can be found in the LICENSE file. */

html, body {
    font-family: RobotoDraft, sans-serif;
    height: 100%;
}
